include ../utils/components.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block meta
        block title
        block links
    body
        block content
        block scripts